@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
    overflow: hidden;
    
}
body{
    background-image: url(wall1.jpg);
    background-size:cover;
    background-position:center;
   min-width:1200px;
      margin:0 auto;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
header h1{
    font-size: 70px;
    color: #fff;
}
header p{
    font-size: 30px;
    color: #fff;
}
.main_container{
    user-select: none;
    background: rgba(255, 255, 255, 0.2); /* transparent */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-radius: 15px;
    transition: all;
    transition-duration: 1s;
    padding-bottom: 10px;
    flex-shrink: 0;
    min-width: 400px;
}
.timings{
    font-size: 20px;
}

.main_container:hover{
    scale: 1.05;
}
.main_container p{
    text-align: center;
}
.main_container h2{
    text-align: center;
}
.links {
    display: flex;
    gap: 5px;
}
.links button{
    margin-top: 5px;
    width: 140px;
    font-size: 16px;
    border-radius: 15px;
}
.links button:hover{
    box-shadow: 5px 5px 5px gray;
}
.links a{
    text-decoration: none;
}
.main{
    scrollbar-width:none;
    display: flex;
    gap: 20px;
    width: 500px;
    height: 600px;
    padding-bottom: 12px;
    margin: auto;
    align-items: center;
    flex-direction: column;
    border-radius: 22px;
    border: 2px solid rgb(255, 255, 255);
    overflow-y: auto;
    
}
.main::-webkit-scrollbar{
    display:none;
}
.main h1{
    color: #fff;
}
.match_title{
    color: white;
    font-size: 44px;
    text-align: center;
}

/*@media (max-width:600px){
    .main{
        width: 95%;
        height: 100vh;

        border-radius: 12px;

        padding: 10px;
    }
    .main h1{
        font-size: 20px;
    }
    @media (max-width:600px){

    .main_container{
        width: 95%;
        min-width: 95%;

        border-radius: 12px;

        padding: 10px;
    }

    header h1{
        font-size: 38px;
        text-align: center;
    }

    header p{
        font-size: 18px;
        text-align: center;
    }

    .match_title{
        font-size: 24px;
        padding: 0 10px;
    }

}
}*/